.background-color{
    background-color:#0A22F4;
    padding-bottom: 40px;
}

html body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    margin-left: 200px;
}

.logo-margin{
    margin-top: 25px;
}

.color-white{
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.color-white:hover{
    background-color: #FFFFFF;
    color: #171717;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    
}

.color-black{
    color: #171717;
    background-color: #FFFFFF;
    padding: 10px 30px;
    margin-left: 50px;
    margin-top: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.color-black:hover{
    padding: 10px 50px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.text-margin{
    margin-left: 250px;
    display: flex;
    align-items: center;

}

.services{
    margin-top: 200px;
    margin-left: 200px;
}

.info-container{
    display: flex;
    justify-content: center;
    margin-left: 120px;
    margin-top: 170px;
 
}

.dot-left{
    padding: 2px;
    background-color: #0A22F4;
    width: 5px;
    height: 5px;
    margin-left: 1200px;
    border-radius: 10px;
}

.dot-middle{
    padding: 2px;
    background-color: gray;
    width: 5px;
    height: 5px;
    margin-left: 1225px;
    border-radius: 10px;
    margin-top: -9px;
    opacity: 0.5;
}

.dot-right{
    padding: 2px;
    background-color: gray;
    width: 5px;
    height: 5px;
    margin-left: 1250px;
    border-radius: 10px;
    margin-top: -9px;
    opacity: 0.5;
}

.info-container div{
    padding-left: 30px;
    padding-right: 110px;
    font-size: 15px;
}

.info-container div p{
    opacity: 0.8;
    max-width: 320px;
}

.cube{
    background-color: #0A22F4;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 70px;
    margin-left: 660px;
}

